<section class="main">
  <h1>main</h1>
  <lib-muk-input [formField]="formField"></lib-muk-input>

  <!-- <lib-muk-radio-button [formField]="formFieldRadio"></lib-muk-radio-button> -->
  <lib-muk-textarea [formField]="formField2"></lib-muk-textarea>
  <!-- <lib-muk-toggle [formField]="formField3"></lib-muk-toggle> -->
  <!-- <lib-muk-list-looping [list]="list">
    <ng-template #listItem let-item="item">
      <lib-muk-button [config]="item"></lib-muk-button>
    </ng-template>
  </lib-muk-list-looping> -->


  <!-- <ng-template #content>
    <lib-muk-dynamic-form
      (onSubmit)="submit($event)"
      [buttons]="buttons"
      [fields]="fields"
    >
    </lib-muk-dynamic-form>
  </ng-template>

  <lib-muk-button (click)="openDialog()">Open Dialog</lib-muk-button> -->

  <!-- <lib-muk-button [config]="config"></lib-muk-button> -->





</section>
